.popup{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(95, 85, 85, 0.541);
    display:flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    border-radius: 8px;
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
